<p>
  <span class="labelType"></span><div class="hidden indicatorGlobal"></div>
</p>
<p>
  <span class="labelUser"></span>
</p>
<p>
  <span class="labelBoard"></span>
</p>
<p>
  <span class="labelTime"></span>
</p>
<p>
  <span class="labelDescription"></span>
</p>

<!-- <tr>
	<td><span class="labelType"></span> <span class="indicatorGlobal">*Global*</span></td>
	<td><span class="labelUser"></span></td>
	<td><span class="labelBoard"></span></td>
	<td><span class="labelDescription"></span></td>
</tr> -->