<div class="innerPost">
  <h3 class="labelBoard"></h3>
  <div class="postInfo title"> 
    <input
      type="checkbox"
      class="deletionCheckBox">
    <span class="labelSubject"></span>
    <a class="linkName"></a>
    <img class="imgFlag"> <span class="labelRole icon"></span> <span
      class="labelCreated"></span> <span class="spanId"><span
      class="labelId"></span></span>
    <a class="linkSelf">No.</a>
    <a class="linkQuote"></a>
    <a class="linkEdit">[Edit]</a>
    <a class="linkHistory">[History]</a>
    <a class="linkFileHistory">[File history]</a>
    <a class="linkOffenseRecord">[Offense record]</a>
    <span class="panelBacklinks"></span>
  </div>
  <div class="panelASN">
    ASN: <span class="labelASN"></span>
  </div>
  <div class="panelBypassId">
    Bypass Id: <span class="labelBypassId"></span>
  </div>
  <div>
    <span class="panelIp"> <span class="panelRange">Broad
        range(1/2 octets): <span class="labelBroadRange"> </span> <br>
        Narrow range(3/4 octets): <span class="labelNarrowRange"> </span> <br>
    </span> Ip: <span class="labelIp"></span>
    </span>
  </div>
  <div class="panelUploads"></div>
  <div class="divMessage"></div>
  <div class="contentOmissionIndicator">
    <p>
      Message too long. Click
      <a class="linkFullText">here</a>
      to view full text.
    </p>
  </div>
  <div class="divBanMessage icon"></div>
  <div class="labelLastEdit"></div>
</div>
