<label>
  Board: <span class="boardLabel"></span>
</label>
<label class="categoryDiv">
  Category: <span class="categoryLabel"></span>
</label>
<label>
  <input
    type="checkbox"
    class="closureCheckbox">
  Reason: <span class="reasonLabel"></span> -
  <a class="link">Moderate</a>
</label>
<div class="postingDiv"></div>
<hr>