
<div class="innerUpload">
  <div class="uploadDetails hidden">
    <a class="nameLink" target="_blank"></a>
    <span class="hideMobile">(</span>
    <span class="sizeLabel"></span> 
    <span class="dimensionLabel"></span>
    <!-- <a class="originalNameLink"></a> -->
    <span class="hideMobile">)</span>
  </div>
  <div class="divHash">
    <span>SHA256: <span class="labelHash"></span></span>
  </div>
  <div>
    <a class="unlinkLink">[Unlink]</a>
    <a class="unlinkAndDeleteLink">[Unlink and delete]</a>
  </div>
  <a class="imgLink" target="_blank"></a>
  <a class="originalNameLink"></a>
</div>
