
<span id="deleteForm" class="collapsable hidden">
  <button type="button">Show Delete</button>
  <button type="button" class="hidden">Hide Delete</button>
</span>
<span id="reportForm" class="collapsable hidden">
  <button type="button">Show Report</button>
  <button type="button" class="hidden">Hide Report</button>
</span>
<fieldset id="deleteFormCollapse" class="reportFieldset">
  <legend>Delete</legend>

  <div class="contentAction">
    <label>
      Password
      <input
        type="text"
        class="deletionField"
        id="deletionFieldPassword"
        name="password">
    </label>
    <!-- <label>
      <input
        type="checkbox"
        class="deletionField"
        id="checkboxOnlyFiles"
        name="deleteUploads">
      Delete only files (Removes the file reference to the posts)
    </label>
    <label>
      <input
        type="checkbox"
        class="deletionField"
        id="checkboxMediaDeletion"
        name="deleteMedia">
      Delete media (Removes the saved files from the server)
    </label> -->
    <!-- <button
      type="submit"
      id="deleteFormButton"
      value="delete hidden"
      name="action">Delete</button> -->
    <button
      type="submit"
      id="trashFormButton"
      value="trash"
      name="action">Trash</button>

  </div>
</fieldset>
<fieldset id="reportFormCollapse" class="reportFieldset">
  <legend>Report</legend>

  <div class="contentAction">

    <label>
      Reason
      <input
        type="text"
        class="reportField"
        id="reportFieldReason"
        name="reasonReport">
    </label>
    <label id="reportCategoriesDiv">
      Category
      <select
        class="reportField"
        id="reportComboboxCategory"
        name="categoryReport"></select>
    </label>
    <label>
      <input
        type="checkbox"
        class="reportField hidden"
        id="checkboxGlobalReport"
        name="globalReport" checked>
    </label>

    <div id="divReportCaptcha">
      <img
        class="captchaImage"
        src="/captcha.js">

      <input
        type="button"
        class="hidden reloadCaptchaButton"
        value="Reload">
      <span class="captchaTimer"></span>
      <br>

      <input
        name="captchaReport"
        type="text"
        class="captchaField reportField"
        id="fieldCaptchaReport"
        placeholder="answer">

      <a
        href="/noCookieCaptcha.js"
        class="small">no cookies?</a>
      <br>
    </div>

    <button
      type="submit"
      id="reportFormButton"
      value="report"
      name="action">Report</button>

  </div>
</fieldset>

<div
  id="divMod"
  class="contentAction">
  <span id="banForm" class="collapsable hidden">
    <button type="button">Show Ban</button>
    <button type="button" class="hidden">Hide Ban</button>
  </span>
  <span id="miscForm" class="collapsable hidden">
    <button type="button">Show Misc</button>
    <button type="button" class="hidden">Hide Misc</button>
  </span>
  <fieldset id="banFormCollapse" class="reportFieldset">
    <legend>Ban</legend>

    <label>
      Ban duration (Defaults to 5 years):
      <input
        class="banField"
        type="text"
        id="fieldDuration"
        name="duration">
      <a href="/.static/pages/moderation.html#banSection">Duration format</a>
    </label>

    <label>
      Ban Message
      <input
        class="banField"
        type="text"
        id="fieldbanMessage"
        name="banMessage">
    </label>

    <label>
      Ban Reason
      <input
        class="banField"
        type="text"
        id="fieldBanReason"
        name="reasonBan">
    </label>

    <label>
      Ban type:
      <select
        name="banType"
        id="comboBoxBanTypes">
        <option value="0">IP/Bypass ban</option>
        <option value="1">Range ban (1/2 octects)</option>
        <option value="2">Range ban (3/4 octects)</option>
        <option value="3">ASN ban</option>
        <option value="4">Ip/Bypass warning</option>
      </select>
    </label>

    <label>
      <input
        class="banField"
        type="checkbox"
        id="checkBoxNonBypassable"
        name="nonBypassable">
      Non-Bypassable
    </label>

    <label>
      <input
        type="checkbox"
        class="reportField"
        id="checkboxGlobalBan"
        name="globalBan">
      Global
    </label>

    <span id="divBanCaptcha"> <img
      class="captchaImage"
      src="/captcha.js"> <input
        type="button"
        class="hidden reloadCaptchaButton"
        value="Reload"> <span class="captchaTimer"></span> <br> <input
        name="captchaBan"
        type="text"
        class="captchaField reportField"
        id="fieldCaptchaBan"
        placeholder="answer"> <a
        href="/noCookieCaptcha.js"
        class="small">no cookies?</a> <br>

    </span>

    <button
      type="submit"
      id="inputBan"
      value="ban"
      name="action">Ban</button>

    <button
      type="submit"
      id="inputBanDelete"
      value="ban-delete"
      name="action">Ban and delete</button>

  </fieldset>
  <fieldset id="miscFormCollapse" class="reportFieldset">

    <legend>Misc</legend>

    <label>
      <input
        type="checkbox"
        class="ipDeletionField"
        name="confirmation"
        id="ipDeletionConfirmationCheckbox"
        value="true">
      Confirm ip deletion
    </label>

    <button
      type="submit"
      id="inputIpDelete"
      value="ip-deletion"
      name="action">Delete by ip/bypass on this board</button>

    <button
      type="submit"
      id="inputThreadIpDelete"
      value="thread-ip-deletion"
      name="action">Delete by ip/bypass on this thread</button>

    <button
      type="submit"
      id="inputSpoil"
      value="spoil"
      name="action">Spoil Files</button>

  </fieldset>
</div>