<div
    id="links"
    class="title">
  <span>[</span>
  <a
    href="/logs.js"
    class="icon"
    id="linkGlobalLogs"></a>
  <span>/</span>
  <a
    href="/archives.js"
    class="icon"
    id="linkArchives"></a>
  <span>/</span>
  <a
    href="/graphs.js"
    class="icon"
    id="linkGraphs"></a>
  <span>/</span>
  <a
    href="/.static/pages/globalRules.html"
    class="icon"
    id="linkGlobalRules"></a>
  <span>/</span>
  <a
    href="/.static/pages/links.html"
    class="icon"
    id="linkLinks"></a>
  <span>/</span>
  <a
    href="/.static/pages/about.html"
    class="icon"
    id="linkAbout hidden"></a>
  <!-- <span>/</span> -->
  <a
    href="/.static/pages/contact.html"
    class="icon"
    id="linkContact"></a>
  <span>/</span>
  <a
    href="/account.js"
    class="icon"
    id="linkAccount"></a>
  <span></span>
  <a
    class="icon hidden"
    id="linkEngine">LynxChan 2.7.0</a>
  <span>]</span>
</div>