<span id="navLinkSpan"><a
    href="/"
    class="icon"
    id="navLinkHome" 
    title="Home" ></a><a
    href="/boards.js"
    class="icon"
    id="navBoardList"
    title="Board List" ></a><a
    href="/.static/pages/posting.html"
    class="icon"
    id="navPosting"
    title="Posting Help"></a>
</span>
<span id="navBoardsSpanMobile">
    <select>
        <option>boards</option>
        <option value="chat">/chat/</option>
        <option value="art">/art/</option>
        <option value="quest">/quest/</option>
        <option value="qdis">/qdis/</option>
        <option value="archives.js?boards=quest">/archive/</option>
        <option value="icon">/icon/</option>
        <option value="meta">/meta/</option>
    </select>
</span>
<span id="navBoardsSpan">
    <a href="/chat/">/chat/</a><a 
    href="/art/">/art/</a><a 
    href="/quest/">/quest/</a><a  
    href="/qdis/">/qdis/</a><a 
    href="/archives.js?boards=quest">/archive/</a><a 
    href="/icon/">/icon/</a><a 
    href="/meta/">/meta/</a>
</span>
    <span id="navOptionsSpan"> 
        <span id="navOptionsSpanBoard">
            <a href="" class="icon" id="linkLogs" title="Mod Logs"></a><a 
            href="#" class="icon" id="linkTop" title="Top"></a><a 
            href="#footer" class="icon" id="linkBottom" title="Bottom"></a><a 
            href="catalog.html" class="icon" id="navCatalog" title="Catalog"></a><a 
            href="index.rss" class="icon" id="linkRss" title="Index"></a> 
        </span>
        <span id="threadStats">
            <span>[</span>
            <span id="labelReplies" title="Replies"></span> <span>/</span> <span 
            id="labelImages" title="Images"></span> <span>/</span> <span 
            id="labelPage" title="page"></span>
            <span>]</span>
        </span>
        <span id="navOptionsSpanThreadImages" class="hidden">
        </span>
        <span id="navOptionsSpanThread">
            <a href=".." id="linkBackThread" class="icon" title="Index"></a><a 
            href="#bannerImage" id="linkTopThread" class="icon" title="Top"></a><a 
            href="#footer" id="linkBottomThread" class="icon" title="Bottom"></a><a 
            href="../catalog.html" id="navCatalogThread" class="icon" title="Catalog"></a> 
        </span>
    </span>
  </nav>