<tbody>

  <tr id="divName">
    <th>Name</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldName"
        name="name"></td>
  </tr>

  <tr>
    <th>Subject</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldSubject"
        name="subject">
      <input
        name="boardUri"
        id="boardIdentifier"
        type="hidden"></td>
  </tr>

  <tr>
    <th>Message</th>
    <td><textarea
        rows="5"
        cols="35"
        class="postingInput"
        id="fieldMessage"
        name="message"></textarea>

      <p class="small">
        Max message length: <span id="labelMessageLength"></span>
      </p></td>
  </tr>

  <tr id="divUpload">
    <th>Files</th>
    <td>
      <div
        class="hidden"
        id="dragAndDropDiv">
        <div
          class="dropzone"
          id="dropzone">
          Drag files to upload or
          <br>
          click here to select them
        </div>
        <div id="selectedDiv"></div>
      </div>

      <div>
        <input
          type="file"
          name="files"
          id="inputFiles"
          multiple
          class="fileBrowser">
      </div>
      <input
        type="checkbox"
        name="spoiler"
        class="postingCheckbox"
        id="checkboxSpoiler"> <label for="checkboxSpoiler"></label>

      <div
      class="collapsable hidden small"
      id="formFileDetails">
      <div class="arrowDown icon">Show limits</div>
      <div class="arrowUp hidden icon">Hide limits</div>
      </div>
      <div id="formFileDetailsCollapse">
        <p class="small">
          Max file size: <span id="labelMaxFileSize"></span>
        </p>
        <p class="small">
          Max files: <span id="labelMaxFiles"></span>
        </p>
        <p class="small">
          File Types: <span id="labelMimeTypes">
            <span title="image/png">png</span>,
            <span title="image/jpeg">jpeg</span>,
            <span title="image/jpg">jpg</span>,
            <span title="image/gif">gif</span>,
            <span title="image/bmp">bmp</span>,
            <span title="video/webm">webm</span>,
            <span class="hidden" title="audio/webm">webm</span>
            <span title="audio/mpeg">mpg</span>,
            <span title="video/mp4">mp4</span>,
            <span title="video/ogg">ogg</span>
            <span class="hidden" title="audio/ogg">ogg</span>
          </span>
        </p>
      </div>

    </td>
  </tr>

  <tr id="captchaDiv">

    <th>Captcha</th>
    <td><img
      class="captchaImage"
      src="/captcha.js" />

      <div class="subCaptchaDiv">
        <input
          type="button"
          value="Reload"
          class="hidden reloadCaptchaButton">
        <span class="captchaTimer"></span>
        <br>

        <input
          name="captcha"
          type="text"
          class="captchaField postingInput"
          id="fieldCaptcha"
          placeholder="answer">

        <a
          href="/noCookieCaptcha.js"
          class="small">no cookies?</a>

      </div></td>
  </tr>
</tbody>

<tr
  class="collapsable hidden small"
  id="formMore">
  <td class="arrowDown icon">More</td>
  <td class="arrowUp hidden icon">Less</td>
</tr>
<tbody id="formMoreCollapse">
  <tr>
    <th>Options</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldEmail"
        name="email"></td>
  </tr>

  <tr>
    <th>Password</th>
    <td><input
        id="fieldPostingPassword"
        name="password"
        class="postingInput"
        type="password">
      <p class="small">(used to delete files and postings)</p></td>
  </tr>

  <tr>
    <th>Misc</th>
    <td>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
        <img class="flagPreview">
      </div>
      <div id="noFlagDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="checkboxNoFlag"
          name="noFlag">
        <label for="checkboxNoFlag"></label>
      </div>
      <div
        class="hidden"
        id="alwaysUseBypassDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="alwaysUseBypassCheckBox">
        <label for="alwaysUseBypassCheckBox"></label>
      </div>
    </td>
  </tr>
</tbody>

<tr
  class="collapsable hidden small"
  id="formMoreFormatting">
  <td class="arrowDown icon">Formatting</td>
  <td class="arrowUp hidden icon">Formatting</td>
</tr>

<tbody id="formMoreFormattingCollapse" >
  <tr>
    <th colspan="2">
      <p>
        **spoiler** -> <span class="spoiler">spoiler</span>
      </p>
      <p>
        ==SRZ BIZNIZ== -> <span class="redText">SRZ BIZNIZ</span>
      </p>
      <p>
        ''italics'' -> <em>italics</em>
      </p>
      <p>
        '''bold''' -> <strong>bold</strong>
      </p>
      <p>
        __underline__ -> <u>underline</u>
      </p>
      <p>
        ~~strikethrough~~ -> <s>strikethrough</s>
      <p>
      <p>[aa] for japanese characters</p>
      <p>[code] tags if enabled by board owner</p>
    </th>
  </tr>
</tbody>