/*Elements shown on board and thread pages*/
.selectedCell, .dropzone {
  top: 5px;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px 0px;
}

.restoreButton {
  float:right;
  margin:0px;
}

.selectedCell {
  margin-top: 10px;
  cursor: default;
}

#bannerImage {
  max-width: 100%;
}

.dropzone {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.dragAndDropThumb {
  max-height: 100px;
  max-width: 85px;
}

.removeButton {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
}

.removeButton:hover {
  color: #7D7D7D;
}

#panelMessage {
  margin: 1em;
}

#flagCombobox {
  width: 85%;
}

.flagPreview {
  display: inline-block;
  max-width: 10%;
  height: 16px;
}

#divUpload, .centered {
  text-align: center;
}
#divUpload, .left {
  text-align: left;
}

#newPostFieldset {
  display: inline-block;
  padding-right: 0.75em;
  width: 25em;
  background: rgba(0, 0, 0, 0.1);
}

#postingFormCollapse {
  text-align: center;
  margin: 1em auto;
}

#postingFormCollapse button, #qrbutton {
  width: 8em;
  margin: 0.5em auto;
  font-size: 125%;
}

#postingFormCollapse button:active {
  box-shadow: 0px 0px 5px #151515;
}

#postingFormCollapse label {
  font-size: 80%;
  display: block;
  clear: both;
}

input[type=checkbox].postingCheckbox {
  display: none;
}

input[type=checkbox].postingCheckbox+label::before {
  font-family: Icons;
  content: "\e0db";
  margin-right: 0.5em;
  display: inline-block;
  cursor: pointer;
}

#checkboxSpoiler+label:after {
  content: "Spoiler";
}

#alwaysUseBypassCheckBox+label:after {
  content: "Bypass check";
}

#checkboxNoFlag+label:after {
  content: "No location";
}

input[type=checkbox].postingCheckbox:checked+label:before {
  content: "\e033";
}

#boardContentLinks {
  margin-top: 0.5em;
  font-size: 80%;
}

.extraMenu{
  padding: 5px;
}

.postIcon {
    object-fit: scale-down;
    max-width:64px;
    max-height:64px;
    width:64px;
    height:64px;
}

.spoilerDisabled {
    outline: 2px dashed black;
}

code {
  background: rgba(0,0,0,0.5);
  font-size: 110%;
  padding: 3px;
  border-radius: 3px;
}

#bannerImage {
  height: 100px;
}