/*Elements used exclusively on the board listing*/
#boardsWrapper {
  width: 80%;
  margin: 1em auto;
  text-align: center;
}

#boardsWrapper #divBoards {
  margin: 2em 1em 0px;
  display: inline-block;
  text-align: left;
}

.boardsCell span {
  text-overflow: ellipsis;
}

.search {
  margin: 1em 0 1em 0;
}

.search form {
  display: inline-block;
}

#boardsSort, #searchButton {
  margin-top: 1em;
}

.boardPages {
  padding: 0.1em 0.25em;
}

#divBoardsLegend {
  width: 100%;
  text-align: right;
  display: inline-block;
}

#legend {
  width: 15%;
  text-align: left;
  display: inline-block;
}

.boardsCellHeader {
  width: 85%;
  display: inline-table;
}

.boardsCellStats {
  width: 15%;
  display: inline-table;
}

.boardsCellTags, .divDescription {
  display: block;
}

.cellComponent {
  width: 33%;
  text-align: center;
  display: inherit;
}