/*Elements used exclusively on board pages*/
#linkPrevious:before {
  content: "\e035";
  margin: 0 0.25em;
}

#linkLogs:before {
  content: "\e069"
}

#linkPrevious, #linkNext {
  vertical-align: middle;
}

#linkNext:after {
  content: "\e036";
  margin: 0 0.25em;
}

.threadPages a {
  text-decoration: none
}

#navOptionsSpan {
  display: inline-block;
}
#navOptionsSpanBoard {
  display: inline;
}