/*Used only on catalog*/
.linkThumb {
  font-size: 80%;
}

#catalogId {
  text-align: center;
  margin: .25em 0 0 0;
  font-size: 150%;
}

.catalogCell {
  display: inline-block;
  width: 12em;
  text-align: center;
  padding: 0.25em;
  height: 14em;
  overflow: hidden;
  margin: 0.1em;
}

.clicked {
  overflow: visible;
  position: absolute;
  width: 300px;
  height: auto;
  margin-left: -250px;
  min-height: 250px
}

.catalogLabel {
  font-size: 80%;
}

.catalogCell .divMessage {
  margin: 0;
  font-size: 75%;
}

#divTools {
  text-align: left;
  margin-left: 15px;
}

.catalogCell .labelSubject {
  font-size: 75%;
}

.linkThumb img {
  max-height: 128px;
  max-width: 128px;
}

.catalogDiv {
  width: 95%;
  margin: 1em auto;
  text-align: center;
}

.threadStats {
  font-size: 75%;
}

#navOptionsSpan {
  display: inline-block;
}
#navOptionsSpanBoard {
  display: inline;
}

#linkLogs:before {
  content: "\e069"
}