body {
  color: #ACACAC;
  background: #1D1F21;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 100%;
  margin: 0px;
}

.topBoards a, 
#divLatestImages img, 
#divLatestPosts .latestPostCell,
.innerPost, 
.sideCatalogCell, 
.markedPost, 
.sideCatalogMarkedCell,
.catalogCell .logTable, 
input, 
select, 
textarea, 
input[type=button], 
input[type=submit], 
button, 
.dropzone, 
.selectedCell, 
.button, 
.floatingMenu, 
#quick-reply table, 
input[type=checkbox].postingCheckbox+label::before,
#postingFormCollapse th, 
.modalTableBody th,
.clicked{
  background-color: #282A2E;
  border-radius: 5px;
}

.innerOP > .innerPost {
  background-color:#292826;
}

nav {
  background-color:#151515;
}

.markedPost, .sideCatalogMarkedCell {
  background-color: rgba(59, 22, 43, 0.4);
}

a, .unhideButton, .embedButton, .checkedFavouriteButton:before,
  #selectedTab, #showFormsButton, #divLogs .labelBoard, .linkName, .quoteLink   {
  color: #E98047;
  cursor: pointer
}

.linkName:hover, .linkSelf:hover, .panelBacklinks a:hover, .quoteLink:hover, .labelRole, .divBanMessage, .linkQuote:hover {
  color: #AA0000;
}

.labelUser, .noEmailName, .noEmailName:hover{
  color:#AF836E;
}

input, select, textarea,input[type=button], input[type=submit], button, .dropzone, .selectedCell, .button,.spoiler:hover, .extraMenu, .hideMenu, .linkSelf,
.linkQuote{
  color: #ACACAC;
}
.labelSubject {
  color: #6B3829;
}

.lockIndicator:before, .pinIndicator:after, .archiveIndicator:before, .cyclicIndicator:after, .bumpLockIndicator:after{ 
  font-family: Icons;
  color: #A00;
}

/*=========================================================================================================*/

/* markdown */
.greenText {
  color: #789922;
}

.redText {
  color: #AF0A0F;
  font-weight: bold;
  font-size: 125%;
}

span.spoiler {
  background: #000;
  color: #000;
  padding: 0 1px;
}

.spoiler:hover {
  background: none;
}

.red {
  color: #151515;
}

.validationHashDiv {
  line-break: anywhere;
}

#labelBypass {
  max-width: 80%;
  word-break: break-all;
}

#divLatestPosts .latestPostCell, .innerPost, .sideCatalogCell,
  .markedPost, .sideCatalogMarkedCell, .catalogCell {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#newPostFieldset, #quick-reply table, .modalDecorationPanel,
  .floatingMenu, #settingsFieldset, .reportFieldset {
  border: 1px dashed rgba(0, 0, 0, 0.3);
}

.logoImg {
  max-height: 300px;
  border-radius: 10px;
  min-width: 1px;
}

.captchaImage {
  width: 300px;
  height: 100px;
  background-color: white;
}

.small {
  font-size: 75%;
  text-decoration: none;
}

.clearer {
  clear: both;
}

.small a {
  text-decoration: none;
}

#panelReferences a {
  display: block;
}

.imgLink img, .latestImageCell img, .mediaCell img, .catalogCell img {
  image-orientation: from-image;
}

#settingsFieldset label,
#ownedDiv a, 
#volunteeredDiv a
.linkList a {
  display: block;
}

#themeSelector {
  font-size: 100%;
}

h3, p, label {
  margin: 0.25em 0;
}

hr {
  height: 0px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: rgba(0, 0, 0, 0.3);
}

.icon {
  font-family: 'Icons';
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover, .glowOnHover:hover {
  text-shadow: 0px 0px 5px #151515;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, select, textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
}

input[type=button], input[type=submit], button, .dropzone, .selectedCell, .button
  {
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 0.25em;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.title, .unhideButton {
  padding: 5px;
  padding-right: 10px;
  border-bottom:1px solid rgba(0, 0, 0, 0.3);
}

.fileBrowser {
  background: none;
}

/* import resources here; external CSS, fonts, etc */
@font-face {
  font-family: 'Hack';
  src: url('../hack-regular-webfont.eot?v=2.018');
  src: url('../hack-regular-webfont.eot?#iefix&v=2.018')
    format('embedded-opentype'),
    url('../hack-regular-webfont.woff2?v=2.018') format('woff2'),
    url('../hack-regular-webfont.woff?v=2.018') format('woff'),
    url('../hack-regular-webfont.ttf?v=2.018') format('truetype'),
    url('../hack-regular-webfont.svg?v=2.018#hackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icons';
  src: url('../open-iconic.eot');
  src: url('../open-iconic.eot?#iconic-sm') format('embedded-opentype'),
    url('../open-iconic.woff') format('woff'), url('../open-iconic.ttf')
    format('truetype'), url('../open-iconic.otf') format('opentype'),
    url('../open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* header and nav / top of page styles */
header {
  margin: 3em auto 0 auto;
  text-align: center;
}

nav {
  height: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #E98047;
  padding-bottom: 3px;
  font-size: 70%;
  text-align: center;
  z-index: 1;
}

nav span, nav a {
  display: inline-block;
  text-decoration: none;
}
nav a {
  padding: 6px 10px 8px 10px;
  line-height: 15px;
  font-size: 100%;
}

nav a:hover{
  background:  rgba(0,0,0,0.7);
}

#navLinkSpan {
  float: left;
  height: 100%;
}

#navBoardsSpan {
  float:left;
  margin-left:5px;
  height: 100%;
}
#navBoardsSpanMobile {
  float:left;
  margin-left:5px;
  display:none;
  height: 100%;
}
#navBoardsSpanMobile select{
  font-size: 100%;
}

#navOptionsSpan {
  float: right;
  display: none;
  height: 100%;
}
#navOptionsSpanBoard, #navOptionsSpanThread, #threadStats {
  display: none;
  height: 100%;
}

#navLinkHome:before {
  content: "\e078";
}

#navBoardList:before {
  content: "\e09b";
}

#linkOverboard:before, #navOverboard:before {
  content: "\e007";
}

#settingsButton:before {
  content: "\e041";
}

#navPosting:before {
  content: "\e09a";
}

#navCatalog:before, #navCatalogThread:before {
  content: "\e072";
}

#linkRss:before {
  content: "\e0b7";
}

.expandIcon:before {
  content: "\e06d";
}
.collapseIcon:before {
  content: "\e06e";
}

#linkTop:before, #linkTopThread:before {
  content: "\e012";
}

#linkBottom:before, #linkBottomThread:before {
  content: "\e00f";
}

#linkBack:before, #linkBackThread:before {
  content: "\e003";
}

.arrowUp::after {
  content: "\e037";
}
.arrowDown::after{
  content: "\e034";
}
.reports::before{
  content: "\e007";
}

#linkGlobalLogs:before {
  content: "\e069";
}

#linkArchives:before {
  content: "\e021";
}

#linkGraphs:before {
  content: "\e018";
}

#linkAccount:before {
  content: "\e081";
}

#linkGlobalRules:before {
  content: "\e06f";
}

#linkAbout:before {
  content: "\e0b0";
}

#linkEngine:before {
  content: "\e064";
}

#linkLinks:before {
  content: "\e086";
}

#linkContact:before {
  content: "\e05c";
}

.lockIndicator:before {
  content: "\e08a";
}

#galleryLink:before {
  content: "\e083";
}

.pinIndicator:after {
  content: "\e0a8";
}

.archiveIndicator:before {
  content: "\e023";
}

.cyclicIndicator:after {
  content: "\e08c";
}

.bumpLockIndicator:after {
  content: "\e0db";
}

.personIcon:before {
  content: "\e0a5";
}

.peopleIcon:before {
  content: "\e0a4";
}

.galleryImage {
  max-width: 100vw;
  max-height: 100vh;
}

.contentAction label, .contentAction img {
  display: block;
}

#selectedDiv, #selectedDivQr {
  max-height: 200px;
  display: inline-block;
  overflow-y: auto;
}

#links {
  padding: 0.5em;
  font-size: 75%;
  text-align: center;
}

#links a {
  text-decoration: none;
}

/* board list */
#divPages {
  display: inline-block;
}

#divPages a {
  text-decoration: none;
  padding: 0 0.25em;
  display: inline-block;
}

a.rules:after {
  content: "\e052";
  margin-right: 0.5em;
  height: 80%;
  font-size: 80%;
  padding-left: 0.25em;
  vertical-align: middle;
}


/* CSS for pages that deal with site and account settings and bans */
#settingsWrapper {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

#settingsFieldset {
  padding: 1em;
  display: inline-block;
  text-align: left;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

#settingsFieldset textarea {
  display: block;
  height: 5em;
}

.linkList a{
  padding:5px;
}

#settingsFieldset label input {
  display: inline-block;
}

#settingsWrapper .captchaDiv input {
  display: inline-block;
}

.subCaptchaDiv {
  text-align: left;
}

.captchaTimer {
  font-size: 80%;
}

.wide, #postingFormCollapse input[type=text], .modalTableBody input[type=text],
  .modalTableBody select {
  width: 100%;
}

#redirect, #maint {
  text-align: center;
}

#labelCaptchaId {
  color: #ff0000;
}

#staticPageWrapper {
  margin: 2em auto;
  text-align: center;
}

/* footer styles */
footer {
  width: 100%;
  margin: 3em 0px 2em 0px;
  text-align: center;
  font-size: 75%;
}

.innerPost, .markedPost {
  display: inline-block;
  max-width: 100%;
}

.threadSplit{
  border-width:3px;
  border-color: rgb(96,96,96);
}

/* this has to go down here to override anything above it */
.hidden {
  display: none !important;
}

.floatingMenu .header, .floatingMenu .headerLabel {
  cursor: pointer;
}

#divRemember input {
  display: inline;
}

#linkGlobalLogs::after {
  content: 'logs';
}

#linkArchives::after {
  content: 'archives';
}

#linkGraphs::after {
  content: 'daily graphs';
}

#linkGlobalRules::after {
  content: 'global rules';
}

#linkLinks::after {
  content: 'links';
}

#linkAbout::after {
  content: 'about';
}

#navOptionsSpan a {
  margin-top: 2px;
}

#linkContact::after {
  content: 'contact';
}

#linkAccount::after {
  content: 'account';
}

#postingForm {
  text-align: center;
}
#postingForm button {
  padding: 10px;
  font-size: 110%;
}
