/*Used for places where posts are displayed*/
.hideButton, .embedButton, #closeWatcherMenuButton, .watchButton,
  .watchedCellCloseButton, .hideFileButton, .extraMenuButton,
  #closeSettingsMenuButton {
  margin-left: 0.5em;
}

.imgExpanded {
  max-width: 100%;
}

video {
  max-width: 100%;
}

#selectedDivQr .selectedCell, #selectedDiv .selectedCell {
  float: left;
}

#selectedDivQr .nameLabel, #selectedDiv .nameLabel {
  display: inline-block;
  max-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
https://in.miko.ai/blog/wp-content/uploads/2019/01/Update.jpg
.reportFieldset {
  margin-top: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.labelId {
  padding: 2px 4px 2px 2px;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #000; 
  font-size:100%;
  color:white;
}

.quoteTooltip {
  position: absolute;
  display: none
}

#formMore, #qrFormMore, #qrCaptchaButton, #qrFilesButton, #formMoreFormatting {
  cursor: pointer;
}

.unhideButton, .embedButton {
  font-size: 80%;
}

.extraMenu, .hideMenu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  z-index: 1;
  font-weight: normal;
  white-space: nowrap;
  cursor: default;
  text-shadow: none;
}

.hideMenu div, .extraMenu div {
  cursor: pointer;
}

.extraMenuButton, .hideButton {
  position: relative;
}

.hideButton::before {
  content: '\e017';
}

.postInfo, .opHead, .divMessage, .panelUploads, .panelIp, .panelProxyIp,
  .contentOmissionIndicator, .labelOmission, .panelASN,
  .panelBypassId {
  font-size: 80%;
}

.divPosts {
  margin: 1em 0;
}

.postCell {
  margin: 0.25em 0;
}

.linkName {
  font-weight: bold;
}

.noEmailName, .noEmailName:hover {
  text-shadow: none;
  cursor: default;
}


.quoteLink.you:after {
  content: " (You)";
}

.linkSelf {
  text-decoration: none;
  font-weight:bold;
}

.linkQuote {
  text-decoration: none;
  font-weight:bold;
}


.labelSubject {
  font-weight: bold;
  word-wrap: break-word;
}

.labelRole {
  font-weight: bold;
}

.labelRole:before {
  content: "\e0dc";
}

.divMessage {
  margin: 1em 1em 1em 3em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.divBanMessage {
  font-weight: bold;
  margin: 1em;
  font-size: 100%;
}

.divBanMessage:before {
  content: "\e0d8";
}

.uploadCell {
  margin: 0.25em 1em 0.25em 0.5em;
  float: none;
}

/*Change the dimensions if you wish for larger thumbs*/
.uploadCell img:not(.imgExpanded) {
  max-width: 192px;
  object-fit: contain;
}

.variableHeight {
  height: 125px;
}

.multipleUploads {
  float: left;
  width: 100%;
}

.multipleUploads .uploadCell:not(.expandedCell) {
  float: left;
}
.expandedCell{
  max-width:100% !important;
}

.uploadDetails {
  margin-bottom: 0.5em;
}

.originalNameLink {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.originalNameLink:hover {
  max-width: 100%;
}

.opCell {
  clear: left;
}

.panelBacklinks a {
  text-decoration: none;
}

.hideLink {
  vertical-align: top;
}

.aa {
  font-family: Mona, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 12pt;
  line-height: 1.1;
}

.labelLastEdit {
  display:inline-block;
  font-size: 70%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 5px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}

.contentOmissionIndicator {
  margin: 1em 0;
}

.labelOmission {
  padding: 5px;
}

.imgFlag {
  max-width: 16px;
  max-height: 16px;
}

/*Board header*/
.boardHeader p {
  color: #bdbdbd;
}

.theme_clear .boardHeader p {
  color: #000;
}

.boardHeader p#labelName {
  font-size: 200%;
  display: inline-block;
}

.boardHeader p#labelDescription {
  font-size: 100%;
}

.boardHeader a {
  font-size: 75%;
  display: inline-block;
  text-decoration: none;
}

.unhideButton {
  clear: left;
  display: block;
}

/*Actions form*/
#threadList {
  margin: 1em;
}

#divMessage {
  text-align: center;
  white-space: pre-wrap;
}

.labelHash {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multipleUploads .labelHash {
  word-wrap: anywhere;
}

.innerUpload{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  float:left;
  max-width:200px;
  margin-right:5px;
  margin-bottom: 10px;
}

.contentAction label, #divControls label, #transferControls label,
  #ipDelete label, #divArchive label, #divMerge label {
  font-size: 80%;
}

.extraMenuButton::before {
  content: '\e02f';
}

.nameLink::after {
  content: 'Open file';
}

.hideFileButton::after {
  content: '(Hide file)';
}

.hiddenFile::after {
  content: '(Show file)';
}

.modalPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: table;
  text-align: center;
  background: rgba(29, 31, 33, 0.66);
  right: 0;
  top: 0;
}

.modalInnerPanel {
  vertical-align: middle;
  display: table-cell;
}

.modalDecorationPanel {
  background: #1D1F21;
  padding: 10px;
  display: inline-block;
  max-width: 90%;
}



.modalHeader {
  display: block;
  margin-bottom: 5px;
}

.modalCaptchaControls {
  display: block;
  text-align: left;
}

.modalCaptchaControls input, .modalOkButton {
  margin-right: 10px;
}

#postingFormCollapse th, .modalTableBody th {
  font-weight: bold;
  text-align: left;
  width: 100px;
  font-size: 80%;
  padding-left: 10px;
  cursor: default;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#postingFormCollapse td, .modalTableBody td {
  text-align: left;
}

#postingFormCollapse input:focus, #postingFormCollapse textarea:focus,
  .modalDecorationPanel input[type='text']:focus, #settingsMenu input[type='text']:focus,
  #settingsMenu textarea:focus {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

