#settingsFieldset{
	padding:0px;
}

#divLogs {
	display:table;
	font-size:85%;
	padding-bottom:10px;
}
#divLogs .logCell {
	display:table-row;
	padding:10%;
}
#divLogs .logCell:nth-child(even) {
	background:rgba(0,0,0,.3);
}
#divLogs .logCell p{
	display:table-cell;
	padding-left:5px;
	padding-right:10px;
	border-left:1px dotted rgba(0,0,0,.4);
	border-right:1px dotted rgba(0,0,0,.4);
}

.labelType {

}
.labelUser{
}
.labelBoard{
}
.labelBoard:before .labelBoard:after{
	content:"/";
}
.labelTime{

}
.labelDescription{

}