/*===============================================================================================================================================================*/

body.theme_clear {
  background-color: #cccccc;
  color: #000;
}

.theme_clear nav {
  background-color: #acacac;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.theme_clear nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.theme_clear .topBoards a, 
.theme_clear #divLatestImages img,
.theme_clear #divLatestPosts .latestPostCell, 
.theme_clear .innerPost,
.theme_clear .sideCatalogCell, 
.theme_clear .markedPost, 
.theme_clear .sideCatalogMarkedCell,
.theme_clear .catalogCell,
.theme_clear input, 
.theme_clear select, 
.theme_clear textarea,
.theme_clear #postingFormCollapse th, 
.theme_clear .modalTableBody th,
.theme_clear .clicked {
  background-color: #dddddd;
}

.theme_clear .floatingMenu, 
.theme_clear #quick-reply table, 
.theme_clear .modalDecorationPanel {
  background: #cccccc;
}

.theme_clear .markedPost, 
.theme_clear .sideCatalogMarkedCell {
  background: #868686;
}

.theme_clear a, 
.theme_clear .unhideButton,
.theme_clear .embedButton, 
.theme_clear .checkedFavouriteButton:before,
.theme_clear #selectedTab, 
.theme_clear #showFormsButton, 
.theme_clear #divLogs .labelBoard,
.theme_clear .labelUser,
.theme_clear input, 
.theme_clear select, 
.theme_clear textarea,
.theme_clear input[type=button], 
.theme_clear input[type=submit],
.theme_clear button, 
.theme_clear .dropzone, 
.theme_clear .selectedCell, 
.theme_clear .button,
.theme_clear .extraMenu, 
.theme_clear .hideMenu, 
.theme_clear .noEmailName{
  color: #000;
}

.theme_clear input[type=button], 
.theme_clear input[type=submit],
.theme_clear button, 
.theme_clear .dropzone, 
.theme_clear .selectedCell, 
.theme_clear .button
  {
  background: #a7a7a7;
}

/*===============================================================================================================================================================*/
.theme_yotsuba .topBoards a,
.theme_yotsuba #divLatestImages img,
.theme_yotsuba #divLatestPosts .latestPostCell,
.theme_yotsuba .innerPost,
.theme_yotsuba .sideCatalogCell,
.theme_yotsuba .markedPost,
.theme_yotsuba .sideCatalogMarkedCell,
.theme_yotsuba .catalogCell {
    border-radius: 0;
}
.theme_yotsuba .labelSubject {
    color: #66fffb;
}
.theme_yotsuba .innerOP > .innerPost {
    width: 100%;
    background-color: #2d3238;
}
.theme_yotsuba .threadSplit {
    border-color: #606060;
    border-width: 2px;
    width: 100%;
}
.theme_yotsuba .originalNameLink {
    font-size: 8px;
    background-color: none;
}
.theme_yotsuba .labelOmission {
    background-color: rgba(255, 255, 255, 0.14);
}
.theme_yotsuba .labelLastEdit {
    font-size: 8px;
    border: none;
}
body.theme_yotsuba {
    background-image: linear-gradient(to bottom, #ffe6be, #ffffff);
    color: #611005;
    font-size: 12pt;
    line-height: 1.2;
    font-family: arial;
}
.theme_yotsuba .originalNameLink {
    color: #7a5652;
}
.theme_yotsuba .topBoards a,
.theme_yotsuba #divLatestImages img,
.theme_yotsuba #divLatestPosts .latestPostCell,
.theme_yotsuba .innerPost,
.theme_yotsuba .sideCatalogCell,
.theme_yotsuba .markedPost,
.theme_yotsuba .sideCatalogMarkedCell,
.theme_yotsuba .catalogCell {
    background: #ffebcc;
}
.theme_yotsuba .floatingMenu,
.theme_yotsuba #quick-reply table,
.theme_yotsuba #postingFormCollapse th,
.theme_yotsuba .modalTableBody th,
.theme_yotsuba #postingForm th,
.theme_yotsuba .modalTableBody th {
    background: #ffdfcc;
    color: #611005;
    font-family: arial;
    border-radius: 0;
}
.theme_yotsuba input,
.theme_yotsuba select,
.theme_yotsuba textarea,
.theme_yotsuba input[type=button],
.theme_yotsuba input[type=submit],
.theme_yotsuba button,
.theme_yotsuba .dropzone,
.theme_yotsuba .selectedCell {
    background: #ffdfcc;
    color: #611005;
    border-color: #611005;
    border-radius: 0;
}
.theme_yotsuba #newPostFieldset {
    background-color: #ffe0ad;
}
.theme_yotsuba .postInfo,
.theme_yotsuba .opHead {
    padding: 0 0 2px;
}
.theme_yotsuba .labelLastEdit,
.theme_yotsuba .postInfo {
    background: #ffdfcd;
}
.theme_yotsuba .opHead {
    background: #ffd3cd;
}
.theme_yotsuba .innerOP > .innerPost {
    width: 100%;
    background-image: linear-gradient(to bottom, #ffe6be, #ffffff);
}
.theme_yotsuba .linkName {
    color: #f2270d;
}
.theme_yotsuba .labelSubject {
    color: #e06252;
}
.theme_yotsuba .icon {
    color: #611005;
    font-size: 0.7em;
}
.theme_yotsuba .linkSelf,
.theme_yotsuba .linkQuote,
.theme_yotsuba .linkReply {
    color: #611005;
}
.theme_yotsuba a {
    color: #f2140d;
}
.theme_yotsuba a:hover {
    text-shadow: none;
    color: #f53d75;
}
.theme_yotsuba .threadSplit {
    border-color: rgba(204, 102, 133, 0.5);
    border-width: 2px;
    width: 100%;
}
.theme_yotsuba nav,
.theme_yotsuba nav > .icon {
    background: #ffebcc;
    font-size: 1em;
}
.theme_yotsuba nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.theme_yotsuba .spoiler:hover {
    color: #a35629;
}

.theme_yotsuba #themeSelector {
    font-size: 70%;
}
.theme_yotsuba .watchedMenuTitle {
    padding-top: 0;
    line-height: 0.8;
}
.theme_yotsuba .glowOnHover:hover {
    text-shadow: none;
}
.theme_yotsuba .boardHeader p {
    color: #611005;
}
.theme_yotsuba input[type=button],
.theme_yotsuba input[type=submit],
.theme_yotsuba button,
.theme_yotsuba .dropzone,
.theme_yotsuba .selectedCell {
    font-family: arial;
    border: solid;
    border-width: 1pt;
}
.theme_yotsuba .innerUpload {
    background: none;
}
.theme_yotsuba .uploadCell img:not(.imgExpanded) {
    border: solid;
    border-width: 1pt;
    border-color: #611005;
}

.theme_yotsuba #settingsMenu > .header{
    padding:1px;
    padding-top: 1px;
    padding-bottom:3px;
    line-height:0.8;
}
.theme_yotsuba input[type=checkbox].postingCheckbox+label::before{
  background:none;
}

/*===========================================================================================================================================*/

.theme_yotsuba_b .coloredIcon:hover,
.theme_yotsuba_b .hideButton:hover,
.theme_yotsuba_b .glowOnHover:hover,
.theme_yotsuba_b .coloredIcon:hover,
.theme_yotsuba_b .hideButton:hover,
.theme_yotsuba_b .glowOnHover:hover,
.theme_yotsuba_b a:hover {
    text-shadow: none;
}

body.theme_yotsuba_b {
    background: #eef2ff;}

body.theme_yotsuba_b,
.theme_yotsuba_b .innerOP,
.theme_yotsuba_b .coloredIcon:hover,
.theme_yotsuba_b .hideButton:hover,
.theme_yotsuba_b .glowOnHover:hover,
.theme_yotsuba_b .innerPost,
.theme_yotsuba_b a,
.theme_yotsuba_b .title,
.theme_yotsuba_b input,
.theme_yotsuba_b select,
.theme_yotsuba_b textarea,
.theme_yotsuba_b .modalDecorationPanel,
.theme_yotsuba_b .floatingMenu,
.theme_yotsuba_b #newPostFieldset,
.theme_yotsuba_b #quick-reply table,
.theme_yotsuba_b #settingsFieldset,
.theme_yotsuba_b input[type="submit"],
.theme_yotsuba_b input[type="button"],
.theme_yotsuba_b button,
.theme_yotsuba_b .dropzone,
.theme_yotsuba_b .restoreButton,
.theme_yotsuba_b .boardHeader p,
.theme_yotsuba_b .clicked  {
    color: #333;
}

.theme_yotsuba_b .innerPost {
    border-color: #ccc;
    border-style: none solid solid none;
}

.theme_yotsuba_b .innerPost,
.theme_yotsuba_b input[type="submit"],
.theme_yotsuba_b input[type="button"],
.theme_yotsuba_b button, 
.theme_yotsuba_b .topBoards a,
.theme_yotsuba_b #divLatestImages img,
.theme_yotsuba_b #divLatestPosts .latestPostCell,
.theme_yotsuba_b .sideCatalogCell,
.theme_yotsuba_b .catalogCell,
.theme_yotsuba_b #newPostFieldset th,
.theme_yotsuba_b .dropzone,
.theme_yotsuba_b .restoreButton {
    background: #d6daf0;
}

.theme_yotsuba_b hr {
    border-color: #ccc;
}

.theme_yotsuba_b nav,
.theme_yotsuba_b .modalDecorationPanel,
.theme_yotsuba_b .floatingMenu,
.theme_yotsuba_b #newPostFieldset,
.theme_yotsuba_b #quick-reply table,
.theme_yotsuba_b #settingsFieldset,
.theme_yotsuba_b input[type="submit"]:hover,
.theme_yotsuba_b input[type="button"]:hover,
.theme_yotsuba_b button:hover {
    background-color: #eef2ff;
}


.theme_yotsuba_b .markedPost,
.theme_yotsuba_b .sideCatalogMarkedCell{
  background: rgba(0, 0, 0, 0.1);
}



.theme_yotsuba_b nav {
    border-bottom: 1px solid #ccc;
}

.theme_yotsuba_b .embedButton,
.theme_yotsuba_b nav,
.theme_yotsuba_b #linkMod,
.theme_yotsuba_b #linkManagement,
.theme_yotsuba_b #showFormsButton {
    color: #666;
}

.theme_yotsuba_b a:hover,
.theme_yotsuba_b .coloredIcon,
.theme_yotsuba_b .hideButton,
.theme_yotsuba_b .linkSelf,
.theme_yotsuba_b .linkQuote, {
    color: #000;
}

.theme_yotsuba_b .coloredIcon,
.theme_yotsuba_b .hideButton,
.theme_yotsuba_b .linkSelf,
.theme_yotsuba_b .linkQuote {
    text-decoration: none;
}

.theme_yotsuba_b input,
.theme_yotsuba_b select,
.theme_yotsuba_b textarea
{
  background:#fff;
  font-family:sans-serif;
  font-size:16px;
  border-radius:0;
  border:1px solid #ccc;
}

.theme_yotsuba_b input[type=checkbox].postingCheckbox+label::before{
  background:none;
}

.theme_yotsuba_b .greenText{
  color: #789922;
}
.theme_yotsuba_b nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*===============================================================================================================================================================*/
@media only screen and (max-width: 812px) {
  #navLinkSpan span, #navOptionsSpan span, legend, #settingsButton, #links span,
    .hideMobile {
    display: none;
  }
  #navLinkSpan a::after, #navOptionsSpan a::after, #links a::after {
    content: '';
  }
  nav {
    font-size: 115%;
    height: auto;
    padding: 2px 2px;
  }
  #themeSelector {
    max-width: 100px;
  }
  .logoImg {
    margin-top: 10px;
    height: 75px;
  }
  input, select, textarea {
    font-size: 100%;
  }
  body {
    font-size: 85%;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .captchaImage {
    max-width: 100%;
    height: auto;
    max-height: 100px;
  }
  #navBoardsSpan {
    display:none;
  }
  #navBoardsSpanMobile {
    display:inline;
  }
    .boardHeader p#labelDescription {
    display: none;
  }
  #fieldMessage {
    width: 100%;
  }
  .reportFieldset {
    padding: 0;
  }
  #newPostFieldset {
    width: unset;
    padding: 0;
    border: unset;
  }
  #postingFormCollapse th {
    font-size: 80%;
    width: 60px;
  }

  #boardsWrapper #divBoards {
    display: inline;
  }
  .boardsCellHeader {
    width: 100%;
    display: inline-table;
    text-align: center;
  }
  .boardsCellStats, #divBoardsLegend, .labelTags {
    display: none;
  }
  .linkThumb img {
    max-height: 100%;
    max-width: 100%;
  }
  #catalogId {
    margin: 3em 0 2em 0;
  }
  .catalogCell {
    width: 7em;
  }
  .topBoards, #divLatestPosts {
    margin: 0;
  }
  #indexWrapper {
    width: 99%;
  }
  #links a, #divStats {
    font-size: 153%;
  }
  #linkEngine {
    display: none;
  }

  .uploadCell img:not(.imgExpanded) {
    max-width: 75px;
    max-height: 75px;
    object-fit: cover;
  }
  .multipleUploads {
    display: block;
  }
  .postInfo, .opHead, .divMessage, .panelUploads, .panelIp, .panelProxyIp,
    .contentOmissionIndicator, .labelOmission, .labelId {
    font-size: 100%;
  }
  .innerPost, .markedPost {
    width: 100%;
    padding: 0;
    min-width:100%;
  }
  #threadList {
    margin: 0;
  }
  iframe {
    display: block;
    width: 100%;
  }
  .divPosts {
    margin: .25em;
  }
  .nameLink::after {
    content: 'Open';
  }
  .hideFileButton::after {
    content: '(Hide)';
  }
  .hiddenFile::after {
    content: '(Show)';
  }
  .originalNameLink, .labelCreated, .sizeLabel, .dimensionLabel {
    display: none;
  }
  .divMessage {
    margin-left: 1em;
  }
  .mobileAlert {
    color: #A00;
  }
}