#watcherButton::before {
  content: '\e065';
}

.watchButton::before {
  content: '\e065';
}

.warning::before {
  content: '\e0d8';
}

#closeWatcherMenuButton::before, .close-btn::before,
  .watchedCellCloseButton::before {
  content: '\e0db';
}

.watchedCell {
  display: table;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid rgba(0, 0, 0, .3);
  box-sizing: border-box;
}

.watchedCellLabel {
  display: table-cell;
  width: 90%;
}

.watchedMenuTitle {
  display: table;
  width: 100%;
  padding: 5px;
  background: rgba(0,0,0,.1);
  box-sizing: border-box;
}

.watchedNotification {
  margin-left: 0.25em;
  font-size:70%;
}

#watchedMenu {
  position: fixed;
  left: 100px;
  top: 25px;
  z-index: 100;
  width:250px;
}

#watchedMenu label {
  font-size: 80%;
  cursor: pointer;
  display: table-cell;
  width: 90%;
}

.watcherAlert {
  color:red;
}